*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media(min-width: 992px){
    .outer{
        width: 33.33%;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .outer{
        width: 50%;
    }
    .outer3{
        width: 100%;
    }
}
@media(max-width:767px){
    .outer{
        width: 100%;
    }
}

#heading{
    text-align: center;
    font-size: 1.75em;
}

.outer{
    position: relative;
    float: left;
    padding: 7px;
}

section{   
    background-color: aqua;
    border: solid black 1px;
}

.title1, .title2, .title3{
    float: right;
    border: black solid 1px;
    padding: 0px 25px 0px 25px;
    font-size: 1.25em;
    font-weight: bold;
}

.title1{
    background-color: pink;
}

.title2{
    background-color: red;
    color: white;
}

.title3{
    background-color: wheat;
}

.text{
    margin: 25px 5px 5px 5px;
}